body{
    max-width: 100%;
    background-color:#162936;
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal
    
}
.home{
    width: 1200px;
    height: 900px;
    background-color: aqua;
    margin: auto;
}