@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
html{
    scroll-behavior: smooth;
    scroll-padding: 80px;
}
body{
    max-width: 100%;
    background-color:#162936;
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal
    
}

.navbar {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color:#162936;
   box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    
    position: fixed;
    z-index: 21;
    top: 0;
}

.nav-content {
    width: 1200px;
    height: auto;
    display: flex;
    margin: auto;
}

.menu-logo{
    width: 15%;
    height: 100%;
}
.menu-logo h2{
    font-size: 25px;
    color: white;
    font-family: "Lato", sans-serif;
    text-align: center;
    text-decoration: none;
    display: flex;
    
}

.menu-menu{
    background-color: #162936;
    width: 85%;
    height: 100%;
    float: left;
    margin-left: 20%;
    display: flex;
    align-items: center;
    
    
}
.menu-menu ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-menu ul li{
    list-style: none;
    margin-left: 60px;
    margin-top: 0px;
    font-size: 25px;
}
.menu-menu ul li a{
    text-decoration: none;
    color: white;
    font-family:"Lato", sans-serif;
    font-weight: bold;
    
}
.menu-menu a:hover{
    color: #27E9B5;
}
.icon {
    /* background-color: #27E9B5; */
    width: 150px;
    height: 100%;
    float: left;
    margin-left: 70px;
    display: flex;
    align-items: center;
    
}
.icon a{
    font-size: 27px;
    color: white;
    margin: 5px;
    
}
.hero-section {
    width: 1200px;
    margin: auto;
    height: auto;
    overflow: hidden;
    margin-top: 70px;
    display: flex;
}
.hero-text{
    background-color:#162936;
    width: 50%;
    height: 420px;
    margin-top: 30px;
}
.hero-text h1{
    color: white;
    margin-left: 50px;
    font-size: 25px;
    margin-top: 70px;
    font-family: "Lato", sans-serif;
    
}
.hero-text span{
    color: white;
    font-size: 25px;
    margin-left: 50px;
    font-family: "Lato", sans-serif;
    font-weight: 550;
}
.hero-text p{
    color: white;
    font-size: 25px;
    margin-left: 50px;
    font-family: "Lato", sans-serif;
    font-weight: 550;
    margin-bottom: 60px;
}
.hero-text a{
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 100px;
    font-family: "Lato", sans-serif;
    font-weight: 550;
    background-color: #27E9B5;
    font-size: 18px;
    margin-left: 50px;
    margin-top: 50px;
    box-shadow:0 0 15px #27E9B5;
}
.hero-text a:hover{
    color: #162936;
}
.hero-image{
    width: 25%;
    height: 300px;
    overflow: hidden;
    /* background-color: #27E9B5; */
    margin-top: 50px;
    margin-left: 10%;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 0 20px #27E9B5;
    border: 2px solid #27E9B5;

}

.hero-image-overlay {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
   
    z-index: 3;

}

.hero-image-overlay img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about{
    width: 1200px;
    margin: auto;
    height: auto;
    background-color: aliceblue;
     display: flex;
}

.image{
    width: 40%;
    height: auto;
    background-color:#3B5265;
}

.img{
    width: 300px;
    height: 300px;
    background-color: #27E9B5;
    margin-top: 40px;
    margin-bottom: 70px;
    margin-left: 80px;
    border-radius: 10%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10%;
}
.text{
    width: 60%;
    height: auto;
    background-color: #3b5265;
}
.text h1 {
    font-size: 35px;
    font-family: "Lato", sans-serif;
    color: white;
    margin: 0;
    margin-top: 50px;
    margin-left: 0px;
    display: inline-block;
}

.text p{
    width: 80%;
    font-size: 30px;
    font-family: "Lato", sans-serif;
    color: white;
    
    font-weight: 400;
    margin-left: 0px;
   
}

.aboutme{
    width: 1200px;
    margin: auto;
    height: 700px;
    background-color: #3B5265 ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:90px;
    
}

.box1{
    width: 40%;
    height: 550px;
    background-color: #1D313F;
    border-radius: 5%;
    overflow: hidden;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}
.box2{
    width: 100%;
    height: 100px;
    background-color: #1D313F;
    /* margin-top: 50%; */
}
.box2 small{
    font-size: 30px;
    color: #27E9B5;
    display: inline-block;
    padding: 20px 20px;
    background-color: #3B5265;
    border-radius: 50%;
    margin-left: 30px;
    margin-top: 15px;
    
}

.box2 h1{
    font-size: 35px;
    display: inline-block;
    margin-left: 30px;
    color: #27E9B5;
}
.box3{
    width: 100%;
    height: 450px;
    background-color:#1D313F;
   display: flex;
   flex-wrap: wrap;
   
}

.boz{
    width: 100%;
    height: 130px;
    /* background-color:black; */
    display: flex;
    
}

.box4{
    width: 70px;
    height: 100%;
    /* background-color: #27E9B5; */
}

.box4-1 {
    width: 5px;
    height: 100px;
    background-color: rgba(128, 128, 128, 0.585);
    margin-top: 15px;
    margin-left: 55px;
}

.box5 {
    width: 420px;
    height: 100%;
    /* background-color:palegoldenrod; */
}

.box5-1{
    width: 400px;
    height: 100px;
    /* background-color: aqua; */
    margin-top: 20px;
}
.box5 p {
    font-size: 18px;
    color: rgba(128, 128, 128, 0.836);
    font-family: "Lato", sans-serif;
    font-weight: 500;
    margin: 0;
}

.box5 h1 {
    font-size: 23px;
    color: white;
    font-family: "Lato", sans-serif;
    margin: 0;
}

.box5 span {
    font-size: 18px;
    color: rgba(128, 128, 128, 0.87);
    font-family: "Lato", sans-serif;
    font-weight: 500;

}

.padding {
    width: 1200px;
    margin: auto;
    height:auto;
    background-color: #162936;
}

.text-text{
    width: 100%;
    height: 80px;
    background-color: #162936;
}

.text-text h1{
   font-size: 38px;
   color: white;
   font-family: "Lato", sans-serif;
   text-align: center;
   justify-content: center;
   align-items: center;
}
.skill{
    width: 100%;
    height: 550px;
    /* background-color: #27E9B5; */
    display: flex;
}

.text2{
    width: 100%;
    height: auto;
    /* background-color: #27E9B5; */
    margin-top: 40px;
}

.text2 h1{
    font-size: 35px;
    color: white;
    font-family: "Lato", sans-serif;
    margin: 0;
    text-align: center;
    align-items: center;
    justify-content: center;


}
.skill1{
    width: 50%;
    height: auto;
    /* background-color: black; */
    
}

.skill1-1 h1{
    font-size: 20px;
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    margin-top: 40px;
    margin-left: 40px;

}

.skill1-2 {
    background-color: white;
    width: 500px;
    height: 20px;
    border-radius: 10px;
    margin-left: 40px;
    
    
    
}

.soft-skill {
    font-size: 14px;
}

.outer-circle {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  background: conic-gradient(#27E9B5 0% 85%, #e0e0e0 80%);
  display: flex;
  align-items: center;  
  justify-content: center;
}

.inner-circle {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.number {
    font-size: 24px;
    color: black;
    font-weight: bold;
}

.skill1-3{
    width: 85%;
    height: 20px;
    border-radius: 10px;
    background-color:#27E9B5;
    
}

.extra-1 {
    width: 80%;
}

.extra-2{
    width: 95%;
}

.extra-3 {
    width: 60%;
}

.skill2 {
     width: 50%;
    height:auto;
    background-color: #162936;
    margin-top: 2%;
    margin-left: 20%;
    
   
}

.skill2 h1{
    color: white;
}

.outer-circle {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  background: conic-gradient(#27E9B5 0% 85%, #e0e0e0 80%);
  display: flex;
  align-items: center;  
  justify-content: center;
}

.inner-circle {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color:#162936;
  display: flex;
  align-items: center;
  justify-content: center;
}


.project{
    width: 1200px;
    margin: auto;
    height:auto;
    background-color: #162936;
}
.project-text{
    width: 100%;
    padding: 20px;
    /* background-color: bisque; */
    display: flex;
    text-align: center;
    justify-content: center;
}
.text-box{
    width: 80%;
    height: 100%;
    /* background-color: aliceblue; */
}
.text-box h1{
    font-size: 40px;
    color:white;
    font-family: "Lato", sans-serif;
    font-weight: bold;
}
.broject{
  
    height: 350px;
    width: 100%;
    /* background-color: black; */
    display: flex;
    
}

.broject1{
    width: 100%;
    /* height: 50%; */
    /* background-color: black; */
    display: flex;
    
}

.project-project{
    width: 31.1%;
    height: 300px;
    /* padding: 130px; */
    background-color: aqua;
    margin:15px;
}

.project-project img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Contact{
    width: 1200px;
    margin: auto;
    height: auto;
    background-color: pink;
    display: flex;
}

.contact-1 {
    width: 600px;
    height: auto;
    background-color:#3B5265;
}

.contact-1-2 h1{
    font-size: 30px;
    color: white;
    font-family: "Lato", sans-serif;
    margin-left: 70px;
    font-weight: bolder;
    margin-top: 60px;
}

.contact-1-2 p {
    font-size: 20px;
    color: white;
    font-family: "Lato", sans-serif;
    margin-left: 70px;
    font-weight: bold;
    
    
}
.contact-1-2{
    width: 100%;
    height: 600px;
    /* background-color: blue; */
}
.text3{
    width: 100%;
    height: 100%;
    /* background-color: aliceblue;  */
}

.text3 h2{
    font-size: 30px;
    color: #27E9B5;
    font-weight: bold;
    margin-left: 80px;
    /* margin: 0; */
  
}
.text3 span {
    margin-left: 75px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}


.icon1{
    width: 400px;
    height: auto;
    /* background-color: #41a412; */
    /* background-color: pink; */
    margin-bottom: 0;
  
}
.icon1 p{
    font-size: 25px;
    
}

.icon1 i{
    color: #27E9B5;
    font-size: 29px;
}

.icon1 h1 {
   font-size: 30px;
   color: #27E9B5;
   font-weight: bold;
   margin: 0;
   margin-left: 80px;
}

.icon1 span{
    font-size: 20px;
    color: white;
    font-weight: bold;
    line-height: 50%;

}

.contact-2 {
    width: 600px;
    height: 800px;
    background-color: #3B5265;
}

.contact-2-1{
    width: 90%;
    height: 85%;
    background-color:#1d313fa3;
    margin: auto;
    margin-top: 40px;
    border-radius: 6%;
    box-shadow: rgb(14, 30, 37) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    overflow: hidden;
}
.contact-1-2 h1{
    color: white;
    font-weight: bold;
}
.contact-2-1-1 {
    width: 100%;
    height: 90px;
    /* background-color: #27E9B5; */
    margin-top: 20px;
    
}

.contact-2-1-1{
    font-size: 20px;
    color: white;
    font-family: "Lato", sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.contact-2-1-2 {
    width: 100%;
    height: 600px;
    /* background-color: aqua; */
}
.number{
    color: white;
}

.fill-in input{
    width: 380px;
    height: 65px;
    border-radius: 15px;
    border: #162936;
    background-color: #162936;
    color: white;
    margin-top: 30px;
    padding: 0px 20px;
    font-size: 18px;

}

.fill-in textarea {
    width: 380px;
    height:  120px;
    border-radius: 15px;
    background-color: #162936;
    color: white;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    padding: 10px 20px;
}

.fill-in span input {
    width: 200px;
    height: 50px;
    border-radius: 15px;
    border: #162936;
    background-color: #27E9B5;
    color: black;
    font-weight: bold;
    padding: 0px 20px;
    font-size: 15px;
    box-shadow:0 0 12px #27E9B5;
}

.fill-in span input:hover{
    background-color:white;
    box-shadow:0 0 12px w;
}

